/* src/app/layout.css */
body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
  }

  main {
    margin-left: 300px;
  }
  
  nav.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background, #ffd4e9);
    color: var(--foreground, #000);

  }
  
  nav.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px
  }
  
  nav.sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  nav.sidebar ul li {
    margin-bottom: 20px;
    text-align: left;
  }

  nav.sidebar a, a:visited {
    text-decoration: none;
    color: inherit;
  }

  nav.sidebar a:hover {
    color: #b5b5b5
  }

  nav.sidebar a:focus {
    color: #008fc7;
  }


  
  main.content {
    flex: 1;
    padding: 20px;
  }

  # dark mode 
  @media (prefers-color-scheme: dark) {
  nav.sidebar {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  nav.sidebar a:hover {
    color: #999;
  }

  nav.sidebar a:focus {
    color: #5dc3ff;
  }

  main.content {
    background-color: #121212;
    color: #e0e0e0;
  }

  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}
